@theme {
  /* COLOR */
  --color-primary-light: #fafafa;
  --color-primary-dark: #0e0e0e;
  --color-primary-gray: #606060;

  /* FONTS */
  --font-playfair: var(--font-playfair), "Playfair Display", serif;
  --font-sacramento: var(--font-sacramento), "Sacramento", cursive;
  --font-manrope: var(--font-manrope), "Manrope", system-ui, sans-serif;
  --font-noto-serif-display: var(--font-noto-serif-display),
    "Noto Serif Display", Georgia, serif;
}
